

body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

.DiscussionBody {
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.wrapperDiscussion {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 1em;
}

.DiscussionFooter {
  //background: #ffa439;
  background: #56baed;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 0 0 1em;
}

img {
  margin-left: auto;
  width: 60px;
  height: 60px;
}

.user {
  margin: auto
}



.Discussion-list {
  margin-bottom: 30px;
  border-radius: 10px;
  margin-top: 18px;
}
